main {
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > button {
}

.container__add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__add > input {
  margin: 10px 0;
}

.container__add > button {
  width: 50%;
  padding: 10px;
}
